django>=5.0
django-stubs>=4.2
django-stubs-ext>=4.2
typing_extensions>=4.0
djangorestframework
django-cors-headers
django-filter
django-silk
whitenoise
gunicorn
psycopg2-binary
django-redis
redis
channels>=4.0
channels-redis>=4.0
daphne>=4.0
reportlab
python-dateutil
requests
Pillow
python-dotenv
django-extensions
sentry-sdk
psutil
concurrent-log-handler
openpyxl
pandas
PyJWT
cryptography
argon2-cffi
