django>=5.0
typing_extensions>=4.0
djangorestframework
django-cors-headers
django-filter
django-silk
whitenoise
gunicorn
psycopg2-binary
django-redis
redis
reportlab
python-dateutil
requests
Pillow
python-dotenv
django-extensions
sentry-sdk
psutil
concurrent-log-handler
